@import '../../../styles/settings.scss';

.root {
    height: 60px;
    width: 250px;
    padding: auto 40px;
    font-size: 1.3rem;
    background: transparent;
    border: 2px solid black;
    cursor: pointer;
    font-family: $normal-text;
}
