@import '../../../styles/settings.scss';

.root {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
		position: relative;
    p {
        font-family: $normal-text;
        margin: 50px 150px;
        text-align: center;
    }
		.packages {
			display: flex;
			position: relative;
		}
    .package {
		  position: relative;
			margin: 1rem;
			padding: 3rem;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			box-shadow: 0 0 10px $third;
			transition: transform 0.6s;
			border-radius: 10px;
			background-color: $second;
			background-image: url("https://images.unsplash.com/photo-1525258946800-98cfd641d0de?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
			span {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				background-color: black;
			}
			&:hover {
				transform: scale(1.2);
			}
        h2 {
          color: $second;
					font-size: 3.5rem;
					text-align: center;
        }
				h3 {
					font-family: $normal-text;
					font-size: 2rem;
					text-align: right;
				}
				ul {
					margin: 3rem 0;
					font-family: $normal-text;
					li {
						margin: 20px 0;
					}
				}
    }
}

