@import '../../../styles/settings.scss';

    .testimonials {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 auto;
        .wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .testimonial {
        position: relative;
        width: 60%;
        height: 500px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 20px;
        h2 {
          color: $second;
        }
        }
    }
    .arrow {
        color:$third;
        font-size: 2.5rem;
        position: absolute;
        top:25%;
    }
    .arrow_right {
        right: -10%;
    }
    .arrow_left {
        left: -10%;
    }



@media (min-device-width: 280px) and (max-device-width: 767px) {
  .testimonials {
    .testimonial {
      margin: 0;
      width: 250px;
      text-align: justify;
      padding: 0 7px;
      p {
        font-size: 12px;
        width: 83%;
      }
      h2 {
        font-size: 2rem;
      }
    }
  }

  .arrow {
    color:$third;
    font-size: 1.5rem;
    position: absolute;
    top: 35%;
  }
  .arrow_right {
    right: 0%;
  }
  .arrow_left {
    left: 0%;
  }
}


@media (min-device-width: 768px) and (max-device-width: 1024px) {
  .testimonials {
    .testimonial {
      text-align: justify;
      width: 500px;
      position: relative;
      p {
        font-size: 1.3rem;
        width: 90%;
      }
      h2 {
        margin-top: 2rem;
      }
    }
  }

  .arrow {
    top: 30%;
    font-size: 3rem;
  }
  .arrow_right {
    right: -10%;
  }
  .arrow_left {
    left: -10%;
  }
  
}


