@import '../../../styles/settings.scss';

.root {
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    h1 {
        margin: 2rem;
        display: inline-block;
    }
    .image {
        height: 20rem;
        width: 25%;
        margin: 1rem;
        object-fit: cover;
    }
}
