@import '../../../styles/settings.scss';

.root {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        text-align: justify;
        width: 80%;
    }
    .team_member {
			  position: relative;
        height: 100vh;
        width: 100vw;
        padding: 0;
        margin: 2rem 0 3rem 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "image name"
        "image description";
        place-items: center center;
        img {
          height: 80%;
          width: 70%;
          grid-area: image;
          object-fit: cover;
					border-radius: 50%;
        }
        h2 {
					grid-area: name;
					color: $second;
					padding: 3rem;
          }
        p {
          grid-area: description;
          padding: 0 4rem;
        }
    }
}

h1 {
  margin-top: 4rem;
}

.bcg {
  position: absolute;
  background-size: cover;
	background-image: url("../../../images/background/9.jpg");
  top: 0;
  left: 0;
  height: 105vh;
  width: 100vw;
  z-index: -10;
  opacity: 0.12;
}


@media (min-device-width: 280px) and (max-device-width: 359px) {

  .root {
    p {
      font-size: 10px;
      width: 100%;
    }
    .team_member {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      img {
        height: 25%;
        width: 50%;
      }
      p {
        padding: 0;
        width: 80%;
      }
    }

    h1 {
      font-size: 2.3rem;
    }
    h2 {
      font-size: 2rem;
      padding: 0;
      margin: 0;
    }
    .bcg {
      height: 108vh;
    }
  }

}

@media (min-device-width: 360px) and (max-device-width: 767px) {

  .root {
    p {
      font-size: 10px;
      width: 100%;
    }
    .team_member {
      height: 80vh;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      img {
        height: 40%;
        width: 50%;
      }
    }
  }

  h2 {
    font-size: 2.5rem;
    padding: 0;
    margin: 0;
  }

  .bcg {
    height: 87vh;
  }
  
}

@media (min-device-width: 768px) and (max-device-width: 1024px) {

  .root {
    p {
      font-size: 20px;
      width: 100%;
      margin-bottom: 4rem;
    }
    .team_member {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      img {
        height: 50%;
        width: 60%;
      }
      h2 {
        padding: 0;
        font-size: 4.5rem;
      }
    }
  }

}
