// FONTS
$decorative-text: 'Allura', cursive;
$normal-text: 'Montserrat', sans-serif;
$logo: 'Cinzel Decorative', cursive;

//COLORS
$first: white;
$second: black;
$third: grey;
$fourth: lightgrey;
$fifth: #8D7257;
$sixth: #BAB2A4;
$seventh: #F4F0EC;
$eighth: #515152;
$gold: #897B69 ;
$silver: #B8B8B8;
$rose: #CFC1C7;
