// FONTS
$decorative-text: 'Allura', cursive;
$normal-text: 'Montserrat', sans-serif;

//COLORS
$first: white;
$second: black;
$third: grey;
$fourth: lightgrey;
$fifth: #8D7257;
$sixth: #BAB2A4;
$seventh: #F4F0EC;
