@import '../../../styles/settings.scss';

.root {
    position: relative;
    height: 100vh;
    background-image: url("../../../images/header.jpg");
    background-size: cover;
    padding: 1.5rem 0 0 1rem;
    span {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.5;
        background-color: $second;
    }
    .logo_wrapper {
			display: flex;
			position: absolute;
			text-decoration: none;
			.logo {
					height: 50px;
					width: 50px;
					color: white;
					margin-right: 10px;
			}
			p {
				font-family: $logo;
				color: $first;
				font-size: 2.5rem;
			}
    }
    .menu {
        position: absolute;
        right: 2rem;
        color: $first;
        display: flex;
        list-style-type: none;
        animation: move-left 1.5s ease-out;
        li {
            margin: 0 25px;
            font-size: 2.3rem;
            font-family: $decorative-text;
            text-shadow: 1px 1px black;
            transition: 0.5s ease-out;
            z-index: 20;
            padding: 0 20px;
            &:hover {
                transform: scale(1.2);
                box-shadow: 0 0 8px $fourth;
            }
            a {
              cursor: pointer;
              text-decoration: none;
              color: $first;
            }
        }
    }
    .btn_main {
        position: absolute;
        left: 47%;
        top: 84%;
        height: 70px;
        width: 70px;
        transition: 0.5s ease-out;
        animation: keep-moving 1s linear 1.8s infinite alternate;
        animation-play-state: running;
        outline: none;
        &:hover {
            transform: scale(1.4);
        }
    }
}

@keyframes move-left {
    from {transform: translateX(-50%); opacity: 0.5;}
    to {opacity: 1;}
}


@keyframes keep-moving {
    from {top: 83%}
    to {top: 88%}
}