@import '../../../styles/settings.scss';

.root {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url("../../../images/header.jpg");
    background-size: cover;
    padding: 1.5rem 0 0 1rem;
    span {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.5;
        background-color: $second;
    }
    .header_content {
      display: flex;
      flex-direction: row;
			justify-content: space-between;
			.logo_wrapper{
				display: flex;
				flex-direction: row;
				text-decoration: none;  
				img {
					height: 50px;
					width: 50px;
					color: white;
					z-index: 20;
				}
				p {
					font-family: $logo;
					color: $first;
					font-size: 2.5rem;
					margin-left: 15px;
					z-index: 20;
				}
			}
      .menu {
        display: flex;
				list-style-type: none;
        animation: move-left 1.5s ease-out;
				z-index: 20;
				a {
					color: white;
					text-decoration: none;
					margin-right: 50px;
					font-size: 2.3rem;
					font-family: $decorative-text;
					text-shadow: 1px 1px black;
					transition: 0.5s ease-out;
					padding: 5px 10px;
					&:hover {
						transform: scale(1.2);
						box-shadow: 0 0 8px $fourth;
				  }
				}	
      }
    }


    .btn_main {
        position: absolute;
        left: 47%;
        top: 84%;
        height: 70px;
        width: 70px;
        transition: 0.5s ease-out;
        animation: keep-moving 1s linear 1.8s infinite alternate;
        animation-play-state: running;
        outline: none;
        &:hover {
            transform: scale(1.4);
        }
    }
}

@keyframes move-left {
    from {transform: translateX(-50%); opacity: 0.5;}
    to {opacity: 1;}
}


@keyframes keep-moving {
    from {top: 83%}
    to {top: 88%}
}


@media (min-device-width: 280px) and (max-device-width: 767px) {
    .root {
      background-position: center;
			.header_content {
				display: flex;
				flex-direction: column;
				justify-content: center;
				.logo_wrapper {
					margin-bottom: 20%;
					p {
						margin-left: 10px ;
						font-size: 2rem;
					}
				}
				.menu {
					flex-direction: column;
					width: 90vw;
					text-align: center;
					margin: 0 1.7rem;
					li {
						margin-bottom: 20px;
					}
				}
			}
			.btn_main {
				left: 43%;
				height: 50px;
        width: 50px;
			}
    }

}



@media (min-device-width: 768px) and (max-device-width: 1024px) {
  .root {
		background-position: center;
		.header_content {
			display: flex;
			flex-direction: column;
			.logo_wrapper {
				margin-bottom: 12%;
				img {
					height: 80px;
					width: 80px;
				}
				p {
					margin-left: 10px;
					font-size: 4.5rem;
				}
			}
			.menu {
				flex-direction: column;
				width: 90vw;
				text-align: center;
				margin: 0 2rem;
				li {
					margin-bottom: 40px;
				}
				a {
					font-size: 4rem;
				}
			}
		}
		.btn_main {
			left: 42%;
		}
	}

}