@import '../../../styles/settings.scss';

  .root {

    section {
      width: 100%;
      height: 100vh;
      padding: 2rem 0;
    }
    .one {
      display: flex;
      position: relative;
        .bcg {
          background-image: url("../../../images/background/9.jpg");
        }
        img {
          height: 100%;
          width: 48%;
          object-fit: cover;
          margin-right: 30px;
          padding: 4rem;
        }
        .side_content {
          display: flex;
          align-items: stretch;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
            p {
              margin: 50px;
            }
        }
    }
    
    .two {
      display: flex;
      position: relative;
        img {
          height: 100%;
          width: 48%;
          object-fit: cover;
          margin-right: 30px;
          padding: 4rem;
        }
        .side_content {
          display: flex;
          align-items: stretch;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          p {
            margin: 50px;
          }
          button {
            transition: 0.5s ease-out;
          }
          button:hover {
            transform: scale(1.3);
        }
      }
    }

    .three {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      .bcg {
        background-image: url("../../../images/background/7.jpg");
      }
      .images {
        height: 75%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 10px;
        button {
          height: 40px;
          width: 150px;
          background: transparent;
          border: 1px solid $first;
          color: $first;
          font-family: $normal-text;
          font-size: 1rem;
          margin: 1rem;
          cursor: pointer;
        }
        .box {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-size: cover;
          height: 100%;
          width: 100%;
          h2, a{
            transition: transform 0.5s ease-out;
          }
          &:hover span {
            opacity: 0.5;
          }
          &:hover h2 {
            transform: scale(1.2);
          }
          &:hover a {
            transform: scale(1.2);
          }
        }

        .image_box1 {
          background-image: url("../../../images/gallery/1.jpg");
        }
        .image_box2 {
          background-image: url("../../../images/gallery/2.jpg");
        }
        .image_box3 {
          background-image: url("../../../images/gallery/3.jpg");
        }
        .image_box4 {
          background-image: url("../../../images/gallery/4.png");
        }
        .image_box5 {
          background-image: url("../../../images/gallery/5.jpg");
        }
        .image_box6 {
          background-image: url("../../../images/gallery/6.jpg");
        }
        .image_box7 {
          background-image: url("../../../images/gallery/7.jpg");
        }
        .image_box8 {
          background-image: url("../../../images/gallery/8.jpg");
        }
      }
    }

    .four {
      box-shadow: 0 0 8px $third;
      margin: 3rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      .insp_boxes {
        display: flex;
        justify-content: center;
        height: 70%;
        width: 100%;
        margin: 10% 0;
        .insp_box {
          height: 90%;
          width: 25%;
          margin: 10px 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-size: cover;
          transition: transform 0.5s linear;
          &:hover {
            transform: scale(1.4);
            cursor: pointer;
            opacity: 0.7;
          }
          h2 {
            font-size: 3.5rem;
          }
        }
        .places {
          background-image: url("../../../images/inspirations/INSP\ place.jpg");
        }
        .dresses {
          background-image: url("../../../images/inspirations/INSP\ dress.jpg");
        }
        .accessories {
          background-image: url("../../../images/inspirations/accessories.jpg");
        }
      }
    }

    .five {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      position: relative;
      .bcg {
        background-image: url("../../../images/background/9.jpg");
      }
    }
   
}

.bcg {
  position: absolute;
  background-size: cover;
  top: 0;
  left: -200px;
  height: 100%;
  width: 150%;
  z-index: -10;
  opacity: 0.12;
}


h1 {
  position: relative;
  font-size: 3.5rem;
  color: $second;
  font-family: $decorative-text;
  padding: 0 50px;
  border-bottom: 3px solid $second;
  margin-bottom: 3rem;
  text-shadow: 3px 4px 3px $third;

}

h2 {
  color: $first;
  font-family: $decorative-text;
  font-size: 3rem;
  margin: 1rem;
  text-shadow: 2px 2px $third;
}

p {
  font-family: $normal-text;
}

span {
  position: absolute;
  background-color: black;
  height: 100%;
  width: 100%;
  opacity: 0;
}

@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}
