@import '../../../styles/settings.scss';

  .root {
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    section {
      width: 100%;
      height: 100vh;
      padding: 4rem 4rem 0 4rem;
      margin-bottom: 10px;
    }
    .one {
      display: flex;
      position: relative;
        .bcg {
          background-image: url("../../../images/background/9.jpg");
        }
        img {
          height: 100%;
          width: 48%;
          object-fit: cover;
          margin-right: 30px;
          animation: from-left 2s ease-out;
        }
        .side_content {
          display: flex;
          align-items: stretch;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          animation: from-top 1s linear 1.2s forwards;
          opacity: 0;
          p {
            margin: 50px;
          }
          button {
            transition: 0.5s ease-out;
          }
          button:hover {
            transform: scale(1.3);
        }
      }
    }
    
    .two {
      display: flex;
      position: relative;
        img {
          height: 100%;
          width: 48%;
          object-fit: cover;
          margin-right: 30px;
          animation: from-right 2s ease-out;
        }
        .side_content {
          display: flex;
          align-items: stretch;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          animation: from-top 1s linear 1.2s forwards;
          opacity: 0;
          p {
            margin: 50px;
          }
          button {
            transition: 0.5s ease-out;
          }
          button:hover {
            transform: scale(1.3);
        }
      }
    }

    .three {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      position: relative;
      .bcg {
        background-image: url("../../../images/background/7.jpg");
      }
      .images {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 5px;
        h2 {
          color: $first;
          font-family: $decorative-text;
          font-size: 2.5rem;
          margin: 1rem;
          text-shadow: 1px 1px $third;
        }
        button {
          height: 40px;
          width: 150px;
          background: transparent;
          border: 1px solid $first;
          color: $first;
          font-family: $normal-text;
          font-size: 1rem;
          margin: 1rem;
          cursor: pointer;
        }
        .box {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-size: cover;
          height: 300px;
          width: 300px;
          h2, a{
            transition: transform 0.5s ease-out;
          }
          &:hover span {
            opacity: 0.5;
          }
          &:hover h2 {
            transform: scale(1.2);
          }
          &:hover a {
            transform: scale(1.2);
          }
        }
        span {
          position: absolute;
          background-color: black;
          height: 100%;
          width: 100%;
          opacity: 0;
        }
        .image_box1 {
          background-image: url("../../../images/gallery/1.jpg");
        }
        .image_box2 {
          background-image: url("../../../images/gallery/2.jpg");
        }
        .image_box3 {
          background-image: url("../../../images/gallery/3.jpg");
        }
        .image_box4 {
          background-image: url("../../../images/gallery/4.jpg");
        }
        .image_box5 {
          background-image: url("../../../images/gallery/5.jpg");
        }
        .image_box6 {
          background-image: url("../../../images/gallery/6.jpg");
        }
        .image_box7 {
          background-image: url("../../../images/gallery/7.jpg");
        }
        .image_box8 {
          background-image: url("../../../images/gallery/8.jpg");
        }
      }
    }
   
}

.bcg {
  position: absolute;
  background-size: cover;
  top: 0;
  left: -200px;
  height: 100%;
  width: 150%;
  z-index: -10;
  opacity: 0.12;
}


h1 {
  position: relative;
  font-size: 3.5rem;
  color: $second;
  font-family: $decorative-text;
  margin: 20px;
  &::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: -60px;
    height: 3px;
    width: 300px;
    background-color: $second;
  }
}

@keyframes from-left {
  from {transform: translateX(-100%)}
  to {transform: translateX(0%); opacity: 1}
}

@keyframes from-top {
  from {transform: translatey(-20%); opacity: 0}
  to {transform: translateY(0%); opacity: 1}
}

@keyframes from-right {
  from {transform: translateX(200%)}
  to {transform: translateX(0%); opacity: 1}
}


@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}
