@import '../../../styles/settings.scss';

  .root {

    section {
      padding: 2rem 0;
      height: 100vh;
    }
    .one {
      display: flex;
      position: relative;
        .bcg {
          background-image: url("../../../images/background/9.jpg");
        }
        img {
          height: 100%;
          width: 48%;
          object-fit: cover;
          padding: 4rem 0 4rem 4rem;
        }
        .side_content {
          display: flex;
          align-items: stretch;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
            p {
              width: 85%;
            }
        }
    }
    
    .two {
      display: flex;
      position: relative;
        img {
          height: 100%;
          width: 48%;
          object-fit: cover;
          padding: 4rem 4rem 4rem 0;
        }
        .side_content {
          display: flex;
          align-items: stretch;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          p {
            width: 85%;
          }
          button {
            transition: 0.5s ease-out;
          }
          button:hover {
            transform: scale(1.3);
        }
      }
    }

    .three {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      .bcg {
        background-image: url("../../../images/background/7.jpg");
      }
      .images {
        height: 75%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 10px;
        button {
          height: 40px;
          width: 150px;
          background: transparent;
          border: 1px solid $first;
          color: $first;
          font-family: $normal-text;
          font-size: 1rem;
          margin: 1rem;
          cursor: pointer;
        }
        .box {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-size: cover;
          height: 100%;
          width: 100%;
          h2, a{
            transition: transform 0.5s ease-out;
          }
          &:hover span {
            opacity: 0.5;
          }
          &:hover h2 {
            transform: scale(1.2);
          }
          &:hover a {
            transform: scale(1.2);
          }
        }
      }
    }

    .four {
      box-shadow: 0 0 8px $third;
      margin: 3rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      .insp_boxes {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        margin: 3% 0;
        .insp_box {
          width: 25vw;
          height: 50vh;
          margin: 10px 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-size: cover;
          background-position: center;
          transition: transform 0.5s linear;
          &:hover {
            transform: scale(1.4);
            cursor: pointer;
            opacity: 0.7;
          }
          h1 {
            margin-bottom: 0;
          }
          h2 {
            font-size: 3.5rem;
          }
        }
        .places {
          background-image: url("../../../images/inspirations/INSP\ place.jpg");
        }
        .dresses {
          background-image: url("../../../images/inspirations/INSP\ dress.jpg");
        }
        .accessories {
          background-image: url("../../../images/inspirations/accessories.jpg");
        }
      }
    }

    .five {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      position: relative;
      .bcg {
        background-image: url("../../../images/background/9.jpg");
      }
    }
   
}

.bcg {
  position: absolute;
  background-size: cover;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -10;
  opacity: 0.12;
}


h1 {
  position: relative;
  font-size: 3.5rem;
  color: $second;
  font-family: $decorative-text;
  padding: 0 50px;
  border-bottom: 3px solid $second;
  margin-bottom: 3rem;
  text-shadow: 3px 4px 3px $third;

}

h2 {
  color: $first;
  font-family: $decorative-text;
  font-size: 3rem;
  margin: 1rem;
  text-shadow: 2px 2px $third;
}

p {
  font-family: $normal-text;
}

span {
  position: absolute;
  background-color: black;
  height: 100%;
  width: 100%;
  opacity: 0;
}

a {
  text-decoration: none;
}

@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}


@media (min-device-width: 280px) and (max-device-width: 767px) {


  p {
    font-size: 1.3rem;
    text-align: justify;
    margin: 0;
  }

  .root {
    section {
      height: 90vh;
      padding: 0;
      margin: 0;
      padding: 2rem 0;
    }
    .one, .two {
      img {
        display: none;
      }
      .side_content {
        height: 100%;
      }
    }
    .three {
      height: 1000px;
      .images {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
      }

    }


    .four {
      height: 120vh;
      margin-top: 2rem;
      .insp_boxes {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        .insp_box {
          height: 100%;
          width: 50%;
          h2 {
            font-size: 2.5rem;
          }
        }
      }
    }
    .five {
      height: 110vh;
      padding: 0;
      h1 {
        margin-bottom: 0;
      }
    }
  }

}

@media (min-device-width: 768px) and (max-device-width: 1024px) {

  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 2.7rem;
  }
  p {
    font-size: 1.3rem;
    text-align: justify;
    width: 85%;
  }
  .bcg {
  }
  .root {
    section {
      height: 80vh;
      padding: 0;
      margin: 0;
      padding-top: 2rem;
    }
    .one, .two {
      img {
        display: none;
      }
      .side_content {
        justify-content: space-evenly;
      }
      p {
        width: 80%;
      }
    }
    .three {
      height: 125vh;
      .images {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        button {
          height: 50px;
          width: 200px;
          font-size: 1.5rem;
        }
      }
      .box {
        h2 {
          margin: 0;
        }
      }
    }


    .four {
      height: 100vh;
      margin-top: 5rem;
      .insp_boxes {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        .insp_box {
          height: 100%;
          width: 50%;
        }
      }
    }
    .five {
      h1 {
        margin-bottom: 0;
      }
    }
  }
}
