@import '../../../styles/settings.scss';

.root {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $second;
    a .icon {
      color: $third;
      height: 2rem;
      width: 2rem;
      margin: 20px;
      cursor: pointer;
    }
}
